#list {
    position:absolute;
    height: 300px !important;
    min-height: 300px !important;
    width:300px;
    top:60px;
    padding: 15px;
    overflow-y: scroll;
    background-color: #fff;
}

#map {
    margin: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    z-index: -4;
}

.list-group {
    padding-top: 20px;
}
